::-webkit-scrollbar {
    height: 3px;
    width: 8px; /* largura da barra de rolagem */
  }
  /* Estiliza o polegar (thumb) da barra de rolagem */
  ::-webkit-scrollbar-thumb {
    background-color: #999; /* cor do polegar */
    border-radius: 4px; /* borda arredondada do polegar */
  }

:root{
    --cor-secondary: #ececed;
}

body{
    margin: 0%;
    padding: 0%;
    border-spacing: 0%;
}

header{
    background-color: var(--cor-secondary);
}

.header-content{
    margin-top: 2%;
    margin-bottom: 2%;
}

/* BOTÃO  DE PROCURA */
#search_button{
    border-radius: 1.25em;
    padding: 0.75em;
    background-color: #149a9d;
    border: none;
    color: white;
    cursor: pointer;
    font-weight:bolder;
    font-family: Arial, Helvetica, sans-serif;
    float: right;
}

/* INPUT  DE PROCURA */
#input-name-pokemon{
    border-radius: 1.25em;
    padding: 0.75em;
}

/* CLASS PARA RETIRAR ESPAÇAMENTO ENTRE COLUNAS */
.gutter {
    margin-right: -10px;
    margin-left: -10px;
    padding-right: 10px;
    padding-left: 10px;
}

#scroll-phone h5{
    color: white;
    font-size: 15px;
    max-width: 20vw;
    text-align: center;
}

#scroll-phone{
    top: 60vh;
    position: relative !important;
    animation-name: desliza;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    visibility: hidden;
}

@keyframes desliza {
    0% { transform:translateY(0px); }
    50% { transform:translateY(-5px); }
    100% { transform:translateY(0px); }
  }

/* ESTILIZAÇÃO DO RETORNO DA BUSCA DO POKEMON PESQUISADO */ 
#poke-info{
    justify-content: center;
    margin-top: 1.75em;
    background-color: #012233;
    border-radius: 5em;
    max-height: 45vh;
    overflow: hidden;
    overflow-x: hidden;
    transition: 1s ease-in ;
}

.title{
    color: white;
    font-size: 35px;
    padding-top: 0.5em;
    display: flex;
    justify-content: center;
    text-align: center;
}

.subtitle{
    color: white;
    font-size: 22px;
    text-align: center;
}

#poke-photo-value{
    padding: 1em;
    border-radius: 1.25em;
    margin-bottom: 3.1818em;
}

.conteudo{
    color: white;
    font-weight: lighter;
    font-size: 17px;
    text-align: center;
}

.box_info{
    padding-bottom: 2em;
}


/* AJUSTES DE RESPONSIVIDADE */

@media (min-width: 560px) {
    #scroll-phone{
        visibility: hidden !important;
    }
}

@media (max-width: 560px) {
     #input-name-pokemon{
        display: flex;
        justify-content: center;
    }
    .gutter{
        margin-right: 0;
        margin-left: 0;
        padding-right: 0;
        padding-left: 0;
    }
    header{
        padding-bottom: 1%;
    }
    ::-webkit-scrollbar {
        height: 3px;
        width: 0px; /* largura da barra de rolagem */
      }
    #poke-info{
        max-width: 95vw;
        border-radius: 3em !important;
        max-height: 45vh;
        overflow-y: hidden;
        margin-bottom: 2em;
        overflow-y: hidden; 
    }
    #poke-photo-value{
        display: flex;
        justify-content: center;
        width: 55vw;
    }
    #search_button{
        display: block;
        justify-content: center;
        margin: 3% auto;
        width: 50vw;
        float: none;
    }
  }

  /* AJUSTE DE ANIMAÇÃO JS*/
  #visible{
    visibility: hidden;
  }

/* RODAPÉ */
  h6{
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
}